:root {
    --main-title-color:#FFFFFF;
    --second-title-color: #212121;
    --first-text-color: rgba(255, 255, 255, 0.6);
    --second-text-color:#757575;
    --third-text-color:#212121;
    --fourth-text-color:#FFFFFF;
    --first-button-color:#FFFFFF;
    --second-button-color:#212121;
    --header-text-color:#212121;
    --accent-color:#2196F3;
    --background-colorr: #2F303A;
    
}

body {
    font-family: "Roboto";
    }

.list {
    list-style: none;
}
.link {
    text-decoration: none;  
}
.header-logo{
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
 color:var(--accent-color)
}



.header-item    {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-title-color)
}
.header-link:hover,
.header-item:focus {
    color:var(--accent-color);
}


.header-adress {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-title-color)
}

.header-adress:hover,
.header-adress:focus {
  color:var(--accent-color)
}


.header-tel:hover,
.header-tel:focus {
    color:var(--accent-color);
    }

.header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--second-text-color)
    }
  



 =============== /* main */ ==================

 .hero {
background:var(--background-colorr)
}

.hero-link{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
 color:var(--main-title-color)

}
.hero-btn:hover,
.hero-btn:focus {
    color:var(--accent-color);
    }

 .hero-btn {
     font-family: Roboto;
     font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--first-button-color);
    }

.hero-opti{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--second-title-color);
}

.hero-bolt{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color)
    }
.uklon{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-title-color)
    }
.time{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-title-color)
    }
.infinity{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--second-text-color)
    }
.bang
    {
        font-family: Roboto;
font-style: normal;
font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--fourth-text-color)
    }
.bang-r {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--first-text-color)
    }

=============== /* main portfolio*/ ==================
.main-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-button-color)
    }


.hero-bt{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height:1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-title-color);
}

.main-port{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color:var(--second-title-color)
    }

.hero-bt:hover,
.hero-bt:focus {
    color:var(--accent-color);
}

.studio{
    color: var(--fourth-text-color);
}