:root {
    --main-title-color:#FFFFFF;
    --second-title-color: #212121;
    --first-text-color: #757575;
    --second-text-color:rgba(255, 255, 255, 0.6);
    --second-text-color: #2196F3;
    --third-text-color:#212121;
    --first-button-color:#FFFFFF;
    --second-button-color:#212121;
    --header-text-color:#212121;
    --accent-color:#2196F3;
}

body {
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.list {
list-style: none;
}
.link {
    text-decoration: none;  
}
.header-link{
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: var(--header-text-color)

}